/* ====== 1. Styling Dasar Body ====== */
body {
    background-color: #f2f5ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* ====== 2. Header ====== */
.header {
    text-align: center;
    padding: 40px;
    background: rgb(4, 245, 104);
    color: rgb(0, 0, 0);  
     border: 1px solid #040406;
}

.judul {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

.subjudul {
    font-size: 18px;
    opacity: 0.9;
}

/* ====== 3. Layout Profil ====== */
.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
}

.foto-profil {
    width: 200px;
    border-radius: 12px;
    border: 4px solid #040406;
}

.profil-text {
    max-width: 450px;
}

.profil-text h2 {
    margin-bottom: 10px;
    color: #040406;
}

/* ====== 4. Daftar Keahlian ====== */
.keahlian {
    background: rgb(4, 245, 104);
    width: 70%;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 12px;
    border: 1px solid #030304;
}

.keahlian h2 {
    color: #070809;
}

.keahlian ul li {
    margin: 6px 0;
    font-size: 16px;
}

/* ====== 5. Tombol ====== */
.tombol-container {
    text-align: center;
    margin: 30px;
}

.btn-primary {
    background: #41e42b;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #05060a;
}

/* ====== 6. Footer ====== */
.footer {
    background: #0c0d0e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}
